table { 
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	color: rgba(220,220,220,1.0);
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #666666;
}
tr.odd {
	background-color: rgba(100,100,100,0.85);
}
tr {
  background-color: rgba(120,120,120,0.85);
	vertical-align: top;
}
td {
        border-left: 0px solid #dadada;
}

.textfield {
  width: 300px;
  margin: auto;
}

.textfield_power {
  width: 50px;
  margin: auto;
  text-align: center;
}

#map {
  width: 600px;
  height: 400px; 
}

html {
  background: url(dz_tt.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
