{% extends "layout.html" %}
{% block body %}
<body>
  <center>
  <form action="{{ url_for('optimize') }}" method="post">
  <h2>Input Parameters</h2>
    <div id="mandatory_params">
      <table> 
        <tr>
          <td>RideWithGPS Segment URL:</td>
          <td><input id="rideurl" class="textfield" type="text" name="rideurl" placeholder="e.g. ridewithgps.com/routes/2800836" required /></td>
        </tr>
        <tr>
          <td>Total weight (kg):</td>
          <td><input class="textfield" type="text" name="weight" placeholder="Combined weight of rider and all equipment (kg)" required /></td>
        </tr>
        <tr>
          <td>Frontal CdA (m^2):</td>
          <td><input class="textfield" type="text" name="cda" placeholder="Reasonable values between 0.1 and 0.4" required /></td>
        </tr>
        <tr>
          <td>Wind direction (radians):</td>
          <td><input class="textfield" type="text" name="winddirection" placeholder="N is 0 degrees, E is 0.5*Pi, S is Pi, W is 1.5*Pi" required /></td>
        </tr>
        <tr>
          <td>Wind velocity (m/s):</td>
          <td><input class="textfield" type="text" name="windvelocity" placeholder="Reasonable values around 0-6 m/s" required /></td>
        </tr>
      </table>
    </div>
    <a id="toggle_optional" href="javascript:void(0);">Toggle Advanced Parameters</a><br>
    <div id="advanced_params">
      <table>
        <tr>
          <td>CRR (unitless):</td>
          <td><input class="textfield" type="text" name="crr" value="0.004" placeholder="Reasonable values between 0.003 and 0.006" required /></td>
        </tr>
        <tr>
          <td>Temperature (celsius):</td>
          <td><input class="textfield" type="text" name="temp" value="25" placeholder="Room temperature is about 25 deg celsius." required /></td>
        </tr>
        <tr>
          <td>Dewpoint (celsius):</td>
          <td><input class="textfield" type="text" name="dewpoint" value="8.5" placeholder="Look this up in a weather report." required /></td>
        </tr>
        <tr>
          <td>Air pressure (pascals):</td>
          <td><input class="textfield" type="text" name="pressure" value="101800" placeholder="One atmosphere is 101,800 Pascals, decreasing with altitude." required /></td>
        </tr>
        <tr>
          <td>Ramer-Douglas Compression Threshold (m)</td>
          <td><input class="textfield" type="text" name="resolution" value="35" placeholder="Threshold for internal point elision." required /></td>
        </tr>
      </table><br>
    </div>
    <h2>Critical Power (watts)<br>
          <table>
            <tr>
              <td align=center>30s</td>
              <td align=center>1m</td>
              <td align=center>5m</td>
              <td align=center>10m</td>
              <td align=center>20m</td>
              <td align=center>30m</td>
              <td align=center>60m</td>
            </tr>
            <tr>
              <td><input class="textfield_power" type="text" name="30sPower" value="800" required /></td>
              <td><input class="textfield_power" type="text" name="1mPower" value="550" required /></td>
              <td><input class="textfield_power" type="text" name="5mPower" value="360" required /></td>
              <td><input class="textfield_power" type="text" name="10mPower" value="315" required /></td>
              <td><input class="textfield_power" type="text" name="20mPower" value="300" required /></td>
              <td><input class="textfield_power" type="text" name="30mPower" value="285" required /></td>
              <td><input class="textfield_power" type="text" name="60mPower" value="255" required /></td>
            </tr>
          </table><br>
        <input type="submit" class=btn value="Optimize!">
  </form>
  <div id="output">
    <div id="map">
      <img id="map_img" src="">
    </div>
    <div id="elevation">
      <img id="elev_img" src="">
    </div>
    <div id="console">
      <textarea name="console" id="console" style='height:420px; width:793px; background:#FFC; resize:both; min-height:200px; min-width:200px; text-align:center'>{{ console }}</textarea>
    </div>
  </div>
</center>
</body>
{% endblock %}
